h1,h2,h3,.links,.contact,.nav-links {
                                      font-weight: bold;
                                      margin:0;
                                      padding:0;
                                    }

h1{font-size: 24px;}

h2{font-size: 20px;}

h3,p,footer,.links,.contact {font-size: 16px;}
p {
    margin-top:0;
    padding-top:0
  }

nav {
      top:-5px;
      left:0;
      height: 55px;
      width: 100%;
      position:fixed;
      background-color: #121314;
      text-align:center;
    }

footer  {
          font-style: italic;
          text-align: right;
        }

hr  {
      visibility: visible;
      border: 1px solid;
      color: #121314;
    }







.nav-links,.links,.contact {
                            text-decoration: none;
                            }
.nav-links  {
              color:#b0b0b0;
              margin: 0px 14px 0px 14px;
            }

.contact,.links  {
                    color:#b08080;
                  }

.contact:hover  {
                  color: #1a1b1c;
                }

.Antifa:hover::after  {
                        content:", exept fascists,"
                      }
.dates  {
          font-style: italic;
          text-align: left;
       }

#stranka  {
            width: 90%;
            margin-left: 5%;
            position: absolute;
            padding-top:55px;
            background-color: #1a1b1c;
            color:#b0b0b0;
            font-family: arial
          }
